



#end {
    padding-bottom: 80px;
}

.top {
    height: 100px;
    background-color: #3899f6;
}

.top > .container {
    padding-top: 30px;
}

.top > .container > span:first-child {
    font-size: 28px;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(yellow), to(greenyellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top > .container > span:nth-child(2) {
    color: white;
    margin: 0px 20px;
}

.top > .container > span:last-child {
    color: white;
}

#userInfo {
    margin: 20px 0px 80px 0px;

}

#userInfo > .container {

}

#userInfo > .container > .left {
    width: 170px;
    height: 480px;
    background-color: #f7f7f7;

}

#userInfo > .container > .left > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px 35px;
}

#userInfo > .container > .left > p {
    margin: 20px 10px;
    color: white;
}

#userInfo > .container > .left > ul {
    margin-left: 0px;
}

#userInfo > .container > .left > ul > li {
    margin: 10px 0px;
    list-style: square;
    color: #999999;
}

#userInfo > .container > .left > ul > li > a {
    color: #333333;
    font-size: 15px;
    text-decoration: none;
}

#userInfo > .container > .left > ul > li > a:hover {
    color: red;
}

#userInfo > .container > .right {
    /*background-color: #ccc;*/
    width: 970px;
}

