/**
 * @name: 首页局部样式
 * @description: 对首页部分样式进行重写
 * @author: 袁贺
 * @update: 2019-10-7
 */


/*轮播图*/
.carousel {
    width: 98%;
    margin: 0px auto;
}
.carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 17px;
    height: 17px;
    margin: 0;
    background-color: #fff;
}
.navbar {
    position: relative;
    min-height: 40px;
    border: 1px solid transparent;
}

.row > div > img {
    width: 160px;
    height: 160px;
    /*margin-top: 50px;*/
    /*margin-left: 60px;*/
    margin: 50px 60px 10px 50px;
    border-radius: 50%;
}

.product-font {
    text-align: center;
    margin: 15px 0px;
}

.show-product {
    text-align: center;
}


.modal-content {
    height: 1000px;
    width: 1000px;
}

.container > .product {
    height: 40px;
    background: url("../img/more.png") no-repeat 0px 22px;
    margin-top: 30px;
    font-size: 24px;
}

#carousel-example-generic img{
    margin: 0px auto;
}

.carousel-inner{
    margin: 0px auto;
}