#img {
    text-align: center;
}

#img > img {
    width: 90%;
}

.container > img {
    margin-top: 80px;
}

.container > .inform {
    float: right;
    width: 330px;
    height: 300px;
    /*overflow: hidden;*/
    border-top: 2px solid #3899f6;
    margin-top: 40px;
}

.container > .inform > p {
    margin: 10px auto;
    text-align: center;
    font-size: 22px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.container > .inform > ul {
    list-style-image: url("../img/jiantou.png");
}

.container > .inform > ul > li > p {
    font-size: 14px;
}

.container > .inform > ul > li {
    margin-top: 30px;
}


.container > .inform ul li span:nth-child(2) {
    color: rgba(0, 0, 0, 0.3);
}

.container > .inform > ul > li span:last-child {
    color: #3899f6;
    float: right;
}

.container > .inform > ul > li span:last-child:hover {
    cursor: pointer;
}
