
.box {
    /*height: 350px;*/
    width: auto;
    margin-bottom: 0px;
}

.clearFix {
    overflow: hidden;
}

.box > .box1 > .container {
    text-align: center;
    height: 350px;
}

.box .col-md-9 img {
    width: 45px;
    height: 45px;
}

.box .col-md-9 {
    margin-top: 30px;
}

.box > .box1 > .container > .row > .col-md-9 > .row div {
    width: 230px;
    height: 80px;
    margin-left: 50px;
    margin-top: 15px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    border-radius: 15px;
}

.box .col-md-9 > .row div span {
    margin-left: 15px;
    margin-top: 15px;
}

.box .col-md-9 > .row div span a {
    text-decoration: none;
}

.box .col-md-9 > .row div span a:link, a:active, a:visited {
    color: #3899f6;
}

.box .col-md-9 > .row div span a:hover {
    color: orange;
}

.background-1{
    background-color: #fff;
}

.background-2{
    background-color: #f7f7f7;
}
/*.box > .container > .box2 {*/
    /*margin-left: 30px;*/
    /*text-align: center;*/
/*}*/
