


#userInfo > .container > .right > .right-top {
    height: 100px;
    background-color: #f7f7f7;

}


#userInfo > .container > .right > .right-top > .col-md-6:first-child > div:nth-child(2){
    margin: 10px 130px;
    font-size: 16px;
    color: #333;
}

#userInfo > .container > .right > .right-top > .col-md-6:first-child > div > div{
    margin: 15px 0px;
}

#userInfo > .container > .right > .right-top > .col-md-6:first-child > div:first-child  > img{
    height: 90px;
    width: 90px;
    margin-top: 5px;
}


#userInfo > .container > .right > .right-top > .col-md-6:nth-child(2){
    position: relative;
}

#userInfo > .container > .right > .right-top > .col-md-6:nth-child(2) > div:first-child{
    margin: 15px 0px;
}

#userInfo > .container > .right > .right-top > .col-md-6:nth-child(2) > div > div{
    margin: 15px 0px;
}

#userInfo > .container > .right > .right-top > .col-md-6:nth-child(2) > .set{
    width: 70px;
    height: 30px;
    background-color: #3899f6;
    border-radius: 6px;
    color: white;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    top:5px;
    right: 5px;
}





#userInfo > .container > .right > .right-mid{
    height: 60px;
    background-color: #fff;
    padding: 20px 0px;
    font-size: 18px;
}

#userInfo > .container > .right > .right-mid > div:last-child{
    margin-left: -15px;
}

#userInfo > .container > .right > .right-mid span{
    color: #535353;

}


#userInfo > .container > .right > .right-bottom{
    width: 440px;
    height: 400px;
    background-color: #f7f7f7;
}

#userInfo > .container > .right > .right-bottom > div{
    width: 200px;
    height: 220px;
    display: inline-block;
    text-align: center;
    padding-top: 25px;
}

#userInfo > .container > .right > .right-bottom > div > div{
    margin-top: 25px;
}

#userInfo > .container > .right > .money {
    width: 485px;
    height: 400px;
    background-color: #f7f7f7;
}

#userInfo > .container > .right > .money > div{
    height: 100px;
    padding: 40px;
    font-size: 16px;

}

#userInfo > .container > .right > .money > div > span:nth-child(2){
    color: orange;
}

#userInfo > .container > .right > .money > div > img{
    margin-left: 30px;
}
#userInfo > .container > .right > .money > div > span:nth-child(4){
    margin-left: 120px;
    color: blue;
}

#userInfo > .container > .right > .money > div:first-child > span:last-child  {
    margin-left: 145px;
}