#userInfo > .container > .right  {
    height: 400px;
    background-color: #f7f7f7;
}

#userInfo > .container > .right  > div{
    height: 100px;
    padding: 40px;
    font-size: 16px;

}

#userInfo > .container > .right  > div > span:nth-child(2){
    color: orange;
}

#userInfo > .container > .right  > div > img{
    margin-left: 30px;
}
#userInfo > .container > .right  > div > span:nth-child(4){
    margin-left: 620px;
    color: blue;
}

#userInfo > .container > .right  > div:first-child > span:last-child  {
    margin-left: 646px;
}