/*顶部*/
#userInfo > .container > .right {
    float: left;
    padding-top: 15px;
    color: #393938;
    font-size: 15px;
}

#userInfo > .container > .right > .right-top {
    border-bottom: 1px solid #E6E6E6;
}

#userInfo > .container > .right > .right-top > span {
    display: inline-block;
    padding: 10px;
    color: #F98F4B;
    border-bottom: 2px solid #F98F4B;
}

/*表单部分*/
#userInfo > .container > .right > .from-info {
    width: 700px;
    height: 500px;
    margin-top: 40px;
}

.background {
    background: url('../img/6信息管理.png') 100px 11px no-repeat;
}

#select {
    margin-left: 40px;
    margin-top: 10px;
}

#select > label {
    padding-top: 5px;
}

#select > .form-control {
    width: 300px;
    /*display: inline-block;*/
    margin-left: 5px;
}

#userInfo > .container > .right > .from-info .right-end .form-control {
    width: 300px;
}

#userInfo > .container > .right > .from-info .right-end label {
    margin-top: 5px;
}

#userInfo > .container > .right > .from-info .right-end div {
    margin-top: 5px;
}



#userInfo > .container > .right > .from-info > .sub {
    width: 185px;
    height: 40px;
    margin-top: 10px;
    margin-left: 200px;
}

#userInfo > .container > .right > .from-info > .form-horizontal .form-group {
    margin-left: -40px;
}

#userInfo > .container > .right > .from-info > .form-horizontal .form-group > .control-label {
    padding-right: 0px;
}

#userInfo > .container > .right > .from-info > .form-horizontal .form-group .col-sm-9 {
    padding-left: 0px;
}

#userInfo > .container > .right > .from-info > .form-horizontal .form-group .form-control {
    width: 300px;
}

#userInfo > .container > .right > .from-info > .sub > input {
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background: #FFB414;
    font-size: 15px;
    color: white;
    margin-top: 50px;
}




#userInfo > .container > .right > .from-info > .right-end  > .form-group > .col-sm-9{
    height: 100px;
}

#userInfo > .container > .right > .from-info > .right-end  > .form-group > .col-sm-9 .col-sm-2{
    padding: 0px;
}
#userInfo > .container > .right > .from-info > .right-end  > .form-group > .col-sm-9 .col-sm-2{
    width: 40px;
}

#userInfo > .container > .right > .from-info > .right-end  > .form-group > .col-sm-9 > div{
    margin-top: 5px;
}
#userInfo > .container > .right > .from-info > .right-end  > .form-group > .col-sm-9 > div:first-child{
    margin-top: 0px;
}
